/* Card size */
$width: 1286px;

/* Colors */
$header_bgcolor: #003097;
$main_bgcolor: #EFF2F7;
$button_bgcolor: #DC3367;
$testimonials_bgcolor: #D39101;
$image_bgcolor: #058C78;

body {
	font-family: Graphik;
	font-style: normal;
	margin: 0;
	background: $main_bgcolor;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex-wrap > img {
	margin: 10px;
}

.card {
	padding: 100px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Header */
.header {
	background: $header_bgcolor;
	color: white;
}

.logo {
	padding: 50px;
}

.header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 64px;
	line-height: 80px;
	letter-spacing: 0.4px;
}

.header h2 {
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -0.3px;
}

.group1 {
	flex: 50%;
	max-width: $width;
	flex-direction: column;
}

.buttons {
	font-weight: normal;
}

.buttons button {
	width: 198px;
	height: 52px;
	justify-content: center;
	margin-bottom: 20px;
	border: none;
	border-radius: 4px;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
}

.buttons .buttonStart {
	background: $button_bgcolor;
	color: white;
	margin-right: 20px;
}

.buttons .buttonDemo {
	background: white;
	color: $header_bgcolor;
}

.logos {
	flex: 100%;
	justify-content: space-between;
}

.logos p {
	flex: 100%;
	font-weight: normal;
	font-size: 14px;
	line-height: 15px;
}

.logos img {
	max-width: 25%;
	opacity: 0.7;
	filter: invert(1);
}

/* List */
.list h1 {
	color: $header_bgcolor;
	margin-top: 0;
	font-weight: 300;
	font-size: 54px;
	line-height: 70px;
	letter-spacing: 0.35px;
}

.list img {
	max-height: 440px;
}

ol {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	counter-reset: item1;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -0.3px;
}

ol ol {
	counter-reset: item2;
}

ol > li {
	margin: 10px;
	counter-increment: item1;
	display: block;
}

ol ol > li {
	counter-increment: item2;
	display: block;
}

ol > li:before {
	color: $header_bgcolor;
	content: counter(item1) ".";
	margin-right: 13px;
}

ol ol > li:before {
    content: counter(item1) "." counter(item2) ".";
}

/* Testimonials */
.testimonials {
	background: $testimonials_bgcolor;
	color: white;
}

.testimonials figure {
	display: table;
	flex: 50%;
}

.testimonials img {
	width: 100%;
}

.testimonials figcaption {
	display: table-caption;
    caption-side: bottom;
}

.testimonials p {
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -0.3px;
}

.testimonials h1 {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.1px;
}

.testimonials h2 {
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
}

/* Customers */
.customers {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 24px;
}

.customers h5 {
	padding: 25px;
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: -0.1px;
}

.customers .blue-box {
	grid-row: 1 / span 2;
	grid-column: 1 / span 2;
	background: $header_bgcolor;
	color: white;

}

.customers .white-box {
	height: 50px;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	background: white;
}

.customers .white-box > img {
	opacity: 0.4;
	mix-blend-mode: normal;
}

/* Image */
.image {
	background: $image_bgcolor;
}

/* Footer */
.footer {
	padding: 50px;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap-reverse;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.3px;
}

.footer img {
	margin-left: 0;
}

.footer .copyright {
	margin-right: auto;
	display: inline-flex;
}

.footer a {
	padding-right: 5px;
	color: $header_bgcolor;
	text-decoration: none;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	.card {
		padding: 30px;
	}

	.logo {
		padding: 30px;
	}

	.header h1 {
		font-size: 44px;
		line-height: 52px;
		letter-spacing: 0.1px;
	}

	.header h2 {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: -0.1px;
	}

	.buttons button {
		width: 100%;
	}

	.logos {
		justify-content: center;
	}

	.logos p {
		font-size: 13px;
		line-height: 20px;
	}

	.list h1 {
		font-size: 38px;
		line-height: 48px;
		letter-spacing: 0.1px
	}

	ol {
		padding-left: 0;
		font-weight: normal;
		font-size: 16px;
		line-height: 18px;
	}

	ol ol {
		padding-left: 1.5em;
	}

	.testimonials figure {
		margin-left: 0;
		margin-right: 0;
	}

	.testimonials p {
		font-size: 16px;
		line-height: 26px;
	}

	.testimonials h1 {
		font-weight: 600;
		font-size: 16px;
		line-height: 26px;
	}

	.customers {
		grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
		grid-gap: 16px;
	}

	.customers h5 {
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		letter-spacing: -0.1px;
	}

	.hide-sm {
		display: none;
	}

	.footer {
		justify-content: flex-start;
		padding: 30px;
	}

	.footer .copyright {
		flex-basis: 100%;
	}
}
