/* Card size */
$width: 1286px;

/* Colors */
$header_bgcolor: #003097;
$footer_bgcolor: lightblue;
$button_bgcolor: #DC3367;

body {
	font-family: Graphik;
	font-style: normal;
	margin: 0;
}

/* Header */
.header {
	background: $header_bgcolor;
	padding: 50px;
	color: white;
}

/* Column container */
.row {
	padding: 100px;
	display: flex;
	flex-wrap: wrap;
}

/* Create two columns that sit next to each other */
/* Left column */
.column1 {
	flex: 50%;
	max-width: $width;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.column1 > h1 {
	margin: 0;
	font-weight: 300;
	font-size: 64px;
	line-height: 80px;
	letter-spacing: 0.4px;
}

.column1 > p {
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -0.3px;
}

.buttons {
	font-weight: normal;
	height: 52px;
}

.buttons button {
	border: none;
	border-radius: 4px;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	padding: 17px 55px;
}

.buttons .buttonStart {
	background: $button_bgcolor;
	color: white;
	margin-right: 20px;
}

.buttons .buttonDemo {
	background: white;
	color: $header_bgcolor;
}

/* Right column */
.column2 {
	flex: 50%;
	max-width: $width;
	text-align: center;
}

.column2 > img {
	width: 712.4px;
	height: 534.99px;
}

.column3 {
	margin-top: 50px;
	flex: 100%;
}

.group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* Footer */
.footer {
	background: $footer_bgcolor;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	.row {
		padding: 0;
		flex-direction: column;
	}

	.column1 {
		max-width: 296px;
	}

	.column1 > h1 {
		font-size: 44px;
		line-height: 52px;
		letter-spacing: 0.115789px;
	}

	.column2 > img {
		margin: 0px -50px;
		width: 294.91px;
		height: 225px;
	}
}
